<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wdermatological_disease_detectionidth=device-width, initial-scale=1.0">
    <title>Dermatological Disease Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dermo.css') }}">
</head>
</head>
<body>
    <header>
        <h1>Dermatological Diseases Detection</h1>
    </header>

    <section id="description">
        <h2>Project Description</h2>
        <p>
            The objective of this project is to develop a deep learning model using Convolutional Neural Networks (CNN) for the automatic detection and classification of dermatological diseases. The model was trained on a dataset containing images of seven different skin diseases, enabling it to assist dermatologists and healthcare professionals in early diagnosis and treatment planning. By leveraging image processing techniques and deep learning, the system aims to enhance accuracy, reduce diagnostic time, and provide a reliable tool for medical applications.<br></p>
        <p>
            To further improve performance and avoid overfitting, the model utilized the following techniques:
<ul> <li>Regularization</li>
     <li>Dropout</li> 
     <li>Transfer learning with VGG16</li>
     </ul>
These techniques enabled the model to perform well even with a limited dataset, enhancing its accuracy and reducing the likelihood of overfitting. The transfer learning approach, in particular, allowed the system to leverage pre-trained features from VGG16 to improve classification results.
        </p>
    </section>

    <section id="demo">
        <h2>Video Demonstration</h2>
        <video controls controlsList="nodownload" width="640" height="360">
            <source src="{{ url_for('static', filename='videos/diseases.mp4') }}" type="video/mp4">
        </video>
        
    </section>

    <footer>
        <p>&copy; 2024 Mohammed Imrane Griche. All rights reserved.</p>
    </footer>
</body>
</html>