<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cs.css') }}">
    <title>Imrane Griche</title>
</head>
<body>
    <nav>
        <div class="nav-container">
            <div class="logo" data-aos="zoom-in" data-aos-duration="1500">
                Mohammed Imrane <span>Griche</span>
            </div>
            <div class="links">
                <div class="link" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100"><a href="#">Home</a></div>
                <div class="about" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200"><a href="#">About</a></div>
                <div class="link" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
                    <a href="{{ url_for('projects') }}">Projects</a>
                </div>
                <a href="#contact">Contact</a>
            </div>
        <i class="fa-solid fa-bars hamburg" onclick="hamburg()"></i>
    </div>
    </nav>
    <section>
        <div class="main-container">
            <div class="image" data-aos="zoom-out" data-aos-duration="3000">
                <img src="{{ url_for('static', filename='imgs/DSC_6821.JPG') }}" alt="">
            </div>
            
            <div id="about" class="content">
                <h1 data-aos="fade-left" data-aos-duration="1500" data-aos-delay="700">Hey I'm <span>Imrane</span></h1>
                <div class="typewriter" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="900">I'm a <span class="typewriter-text"></span><label for="">|</label></div>
                <p data-aos="flip-down" data-aos-duration="1500" data-aos-delay="1100">Hello everyone, I am Mohammed Imrane Griche. I am a student pursuing my Master's degree in Artificial Intelligence and Virtual Reality. I am currently looking for my end-of-studies internship (PFE).</p>
                <div class="social-links">
                    <!-- <a href="#" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1300"><i class="fa-brands fa-github"></i></a>
                    <a href="#" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1400"><i class="fa-brands fa-facebook"></i></a> -->
                    <a href="https://linkedin.com/in/mohammed-imrane-griche/" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1500"><i class="fa-brands fa-linkedin"></i></a>
                    <!-- <a href="#" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1600"><i class="fa-brands fa-twitter"></i></a> -->
                </div>
                <div class="btn" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="1800">     
                    <button onclick="window.location.href='{{ url_for('static', filename='files/CV_English.pdf') }}'">Download CV (English)</button>
                    <button onclick="window.location.href='{{ url_for('static', filename='files/CV_French.pdf') }}'">Download CV (French)</button>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="contact-section">
        <h2>Contact Me</h2>
        <div class="contact-info">
            <a href="tel:(+212) 0652474717"><i class="fa-solid fa-phone"></i>  tel:(+212) 0652474717</a>
            <a href="mailto:imranegriche@gmail.com"><i class="fa-solid fa-envelope"></i> imranegriche@gmail.com</a>
            <a href="https://linkedin.com/in/mohammed-imrane-griche/" target="_blank">
                <i class="fa-brands fa-linkedin"></i> LinkedIn
            </a>
        </div>
   
    </section>
    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({offset:0});
    </script>
    <script src="{{ url_for('static', filename='js/jv.js') }}"></script>
</body>
</html>